<%- include('header') -%>

<header class="heading heading--main">
    <span class="heading__category">AHHHHHHHH</span>
    <h1 class="heading__title">VILLLAAA!!!</h1>
  </header>
  <main>
  </main>

<%- include('footer') -%>